@charset "UTF-8";
:root {
  --fs-h2: 1.5rem;
  --fs-h3: 1.125rem;
  --fs-nav: 1.125rem;
  --fs-body: 0.875rem;
  --fs-btn: 1.125rem; }

@media (min-width: 660px) {
  :root {
    --fs-h2: 2.5rem; } }

@media (min-width: 1200px) {
  :root {
    --fs-h2: 3.125rem;
    --fs-h3: 1.875rem;
    --fs-body: 1.125rem;
    --fs-btn: 1.3125rem; } }

body {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: var(--fs-body);
  line-height: 1.7;
  color: #283645;
  font-weight: 400;
  font-style: normal;
  background-color: #fff; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.button {
  display: block;
  padding: 18px 35px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: var(--fs-btn);
  line-height: 1.2;
  font-weight: 900;
  color: #d22856;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  border: 3px solid #d22856;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 0.2s ease-in-out,  color 0.1s ease-in-out; }

.button--light {
  color: #fff;
  border: 3px solid #fff; }

.button--disabled {
  color: rgba(40, 54, 69, 0.1);
  border: 3px solid rgba(40, 54, 69, 0.1);
  background-color: transparent;
  transition: color 0.2s ease-in-out, border 0.2s ease-in-out; }

.button--secondary {
  text-transform: uppercase;
  color: #fff;
  background-color: #2aab6d;
  border: none;
  border-radius: 0; }

.button:hover,
.button:focus {
  color: #fff;
  background-color: #d22856; }

.button:active {
  color: rgba(255, 255, 255, 0.3); }

.button--light:hover,
.button--light:focus {
  color: #d22856;
  background-color: #fff; }

.button--light:active {
  color: rgba(210, 40, 86, 0.3); }

.button--disabled:hover,
.button--disabled:focus {
  color: rgba(40, 54, 69, 0.3);
  border: 3px solid rgba(40, 54, 69, 0.3);
  background-color: transparent; }

.button--disabled:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(40, 54, 69, 0.3); }

.button--secondary:hover,
.button--secondary:focus {
  background-color: #1c9b5e; }

.button--secondary:active {
  color: rgba(255, 255, 255, 0.3); }

.button--secondary:disabled {
  color: #ffffff;
  background-color: #e5e5e5; }

.text-input {
  padding: 18px 20px;
  font-size: 1.125rem;
  color: #283645;
  background-color: transparent;
  border: 2px solid #e5e5e5;
  transition: background-color 0.1s ease-out; }

.text-input:hover {
  background-color: #e5e5e5;
  border: 2px solid #e5e5e5; }

.text-input:focus,
.text-input:active {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: none; }

.checkbox + label {
  cursor: pointer; }

.checkbox + label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  transition: border 0.2s ease-in-out; }

.checkbox:checked + label::after {
  content: '';
  position: absolute;
  top: 9px;
  left: 7px;
  width: 21px;
  height: 10px;
  border: 2px solid #d22856;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg); }

.checkbox:hover + label::before {
  border: 2px solid #283645; }

.checkbox:focus + label::before,
.checkbox:active + label::before {
  border: 2px solid #d22856; }

.radio-button + label {
  cursor: pointer; }

.radio-button + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  transition: border 0.2s ease-in-out; }

.radio-button:checked + label::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 15px;
  height: 15px;
  background-color: #d22856;
  border-radius: 50%; }

.radio-button:hover + label::before {
  border: 2px solid #283645; }

.radio-button:focus + label::before,
.radio-button:active + label::before {
  border: 2px solid #d22856; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  color: #283645;
  font-weight: 400; }

input:-moz-placeholder,
textarea:-moz-placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  color: #283645;
  font-weight: 400; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  color: #283645;
  font-weight: 400; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  color: #283645;
  font-weight: 400; }

*,
*::before,
*::after {
  box-sizing: border-box; }

p,
h1,
h2,
h3,
h4,
h5,
h6,
figure {
  margin: 0; }

fieldset,
legend {
  margin: 0;
  padding: 0; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

.main-navigation {
  position: relative;
  color: #fff;
  background-color: #283645; }
  .main-navigation__top {
    padding: 25px 20px 20px;
    border-bottom: 1px solid #000; }
  .main-navigation__logo-image path {
    transition: fill 0.1s ease-in; }
  .main-navigation__logo-image--tablet {
    display: none; }
  .main-navigation__logo-image--desktop {
    display: none; }
  .main-navigation__button {
    position: absolute;
    top: 23px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer; }
  .main-navigation__button::before, .main-navigation__button::after {
    transition: background-color 0.2s ease-in-out,  box-shadow 0.2s ease-in-out; }
  .main-navigation__button--close {
    width: 30px;
    height: 30px; }
  .main-navigation__button--close::after, .main-navigation__button--close::before {
    content: '';
    position: absolute;
    top: 13px;
    left: 0;
    width: 30px;
    height: 4px;
    background-color: #fff; }
  .main-navigation__button--close::after {
    transform: rotate(45deg); }
  .main-navigation__button--close::before {
    transform: rotate(-45deg); }
  .main-navigation__button--open {
    width: 50px;
    height: 30px; }
  .main-navigation__button--open::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 50px;
    height: 4px;
    background-color: #fff;
    box-shadow: 0 10px #fff, 0 20px #fff; }
  .main-navigation__button--open {
    display: none; }
  .main-navigation__logo-link[href]:hover .main-navigation__logo-image path,
  .main-navigation__logo-link[href]:focus .main-navigation__logo-image path {
    fill: #d22856; }
  .main-navigation__logo-link[href]:active .main-navigation__logo-image path {
    fill: inherit;
    opacity: 0.3; }
  .main-navigation__button--close:hover::before, .main-navigation__button--close:hover::after, .main-navigation__button--close:focus::before, .main-navigation__button--close:focus::after {
    background-color: #d22856; }
  .main-navigation__button--close:active::before, .main-navigation__button--close:active::after {
    background-color: rgba(210, 40, 86, 0.3); }
  .main-navigation__button--open:hover::before, .main-navigation__button--open:focus::before {
    background-color: #d22856;
    box-shadow: 0 10px #d22856, 0 20px #d22856; }
  .main-navigation__button--open:active::before {
    background-color: rgba(210, 40, 86, 0.3);
    box-shadow: 0 10px rgba(210, 40, 86, 0.3), 0 20px rgba(210, 40, 86, 0.3); }

@media (min-width: 660px) {
  .main-navigation__top {
    padding: 25px 20px 40px;
    border-bottom: 1px solid #000; }
  .main-navigation__logo-image--mobile {
    display: none; }
  .main-navigation__logo-image--tablet {
    display: block; }
  .main-navigation__button {
    top: 42px; } }

@media (max-width: 1200px) {
  .main-navigation--closed {
    background-color: rgba(0, 0, 0, 0.3); }
  .main-navigation--closed .main-navigation__top {
    border-bottom: none; }
  .main-navigation--closed .main-navigation__list {
    display: none; }
  .main-navigation--closed .main-navigation__button--close {
    display: none; }
  .main-navigation--closed .main-navigation__button--open {
    display: block; } }

@media (min-width: 1200px) {
  .main-navigation {
    padding: 25px 130px 40px;
    background-color: rgba(0, 0, 0, 0.3); }
    .main-navigation__wrapper {
      display: flex;
      justify-content: space-between;
      max-width: 1200px;
      margin: 0 auto; }
    .main-navigation__top {
      padding: 0;
      border-bottom: none; }
    .main-navigation__logo-image--tablet {
      display: none; }
    .main-navigation__logo-image--desktop {
      display: block; }
    .main-navigation__list {
      width: 70%;
      max-width: 800px;
      padding-top: 10px; }
    .main-navigation__button {
      display: none; } }

.site-list {
  display: flex;
  flex-direction: column; }
  .site-list__item {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid #000; }
  .site-list__link {
    display: block;
    padding: 20px;
    color: #fff;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.1s ease-in-out; }
  .site-list__link[href]:hover, .site-list__link[href]:focus {
    color: #d22856; }
  .site-list__link[href]:active {
    color: rgba(210, 40, 86, 0.3); }

@media (min-width: 1200px) {
  .site-list {
    flex-direction: row;
    justify-content: space-between; }
    .site-list__item {
      border-top: none;
      border-bottom: none; }
    .site-list__link {
      padding: 0;
      font-weight: 400;
      text-transform: none; }
    .site-list__link--active {
      border-bottom: 2px solid #fff; } }

.download {
  min-height: 462px;
  padding-top: 462px;
  color: #fff;
  background-color: #283645;
  background-image: url(../img/hand-mobile.png), url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: top 150px left calc(50% - 38px), top center;
  background-size: auto 316px, auto; }
  .download__content {
    padding: 30px 20px;
    text-align: center; }
  .download__slogan {
    display: none; }
  .download__button, .download__text {
    width: 80%;
    min-width: 280px;
    max-width: 340px;
    margin: 0 auto; }
  .download__text {
    font-weight: 300; }
  .download__button {
    margin-bottom: 30px; }
  .download__list {
    display: flex;
    justify-content: space-between;
    max-width: 280px;
    margin: 0 auto;
    margin-bottom: 15px; }
  .download__link {
    display: inline-block;
    width: 50px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center; }
  .download__link--ios {
    background-image: url("../img/apple-logo.svg"); }
  .download__link--android {
    background-image: url("../img/android-logo.svg"); }
  .download__link--windows {
    background-image: url("../img/microsoft-logo.svg"); }

@media (min-width: 660px) {
  .download {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 729px;
    padding: 210px 20px 110px;
    background-image: url(../img/hand-tablet.png), url(../img/bg-back-tablet@1x.jpg);
    background-position: bottom center, top center;
    background-size: auto, auto 100%; }
    .download__wrapper {
      max-width: 900px;
      width: 100%;
      margin: 0 auto; }
    .download__content {
      width: 300px;
      padding: 0;
      margin-right: auto; }
    .download__slogan {
      display: block;
      width: 240px;
      margin: 0 auto;
      margin-bottom: 35px;
      font-size: var(--fs-h2);
      line-height: 1.2;
      font-weight: 300; }
    .download__button, .download__text {
      width: 100%;
      min-width: auto;
      max-width: auto; }
    .download__button {
      margin-bottom: 45px; }
    .download__list {
      max-width: 320px;
      margin-bottom: 25px; }
    .download__text {
      font-size: 18px; } }

@media (min-width: 1200px) {
  .download {
    min-height: 853px;
    padding: 220px 130px 120px;
    background-image: url(../img/hand-desktop.png), url(../img/bg-back-desktop@1x.jpg);
    background-position: bottom center, top center;
    background-size: auto, auto 100%; }
    .download__wrapper {
      max-width: 1200px; }
    .download__content {
      width: 320px; }
    .download__slogan {
      width: 270px;
      margin-bottom: 50px; }
    .download__button {
      margin-bottom: 65px; }
    .download__list {
      max-width: 240px;
      margin-bottom: 40px; } }

.page-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.advantages {
  padding-top: 40px;
  text-align: center; }
  .advantages__slogan {
    display: block;
    width: 70%;
    margin: 0 auto;
    font-size: var(--fs-h2);
    line-height: 1.2;
    font-weight: 300; }
  .advantages__slogan--question {
    margin-bottom: 30px; }
  .advantages__slogan--answer {
    margin-bottom: 30px; }
  .advantages__container {
    background-image: url(../img/bg-triangle-white.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    background-color: #f2f2f2; }
  .advantages__inner-container {
    position: relative;
    padding: 80px 20px 320px; }
  .advantages__inner-container::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 280px;
    background-image: url(../img/screen3.png);
    background-repeat: no-repeat;
    background-position: top center; }
  .advantages__item {
    margin-bottom: 30px; }
  .advantages__item:last-child {
    margin-bottom: 0; }
  .advantages__title {
    margin-bottom: 10px;
    font-size: var(--fs-h3);
    color: #000;
    line-height: 1.2; }

@media (min-width: 660px) {
  .advantages {
    padding-top: 50px; }
    .advantages__slogan {
      width: 100%;
      padding: 0 20px;
      font-weight: 300; }
    .advantages__slogan--question {
      margin-bottom: 0; }
    .advantages__slogan--answer {
      width: 70%;
      margin-bottom: 45px; }
    .advantages__inner-container {
      min-height: 485px;
      max-width: 700px;
      margin: 0 auto;
      padding-bottom: 40px; }
    .advantages__inner-container::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 485px;
      background-image: url(../img/screen-tablet3.png);
      background-position: top left 5%; }
    .advantages__list {
      width: 50%;
      max-width: 320px;
      margin-left: auto;
      text-align: left; } }

@media (min-width: 1200px) {
  .advantages {
    padding-top: 70px; }
    .advantages__slogan {
      padding: 0 130px; }
    .advantages__slogan--answer {
      margin-bottom: 70px; }
    .advantages__container {
      padding: 0 130px 70px; }
    .advantages__inner-container {
      min-height: auto;
      max-width: 1200px;
      padding: 0; }
    .advantages__inner-container::before {
      content: none;
      background-image: none; }
    .advantages__list {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: none;
      margin-left: 0;
      text-align: center; }
    .advantages__item {
      position: relative;
      width: 280px;
      padding-top: 360px; }
    .advantages__item::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 280px;
      height: 300px;
      background-repeat: no-repeat;
      background-position: top center; }
    .advantages__item--first::before {
      background-image: url("../img/screen-desktop1.png"); }
    .advantages__item--second::before {
      background-image: url("../img/screen-desktop2.png"); }
    .advantages__item--third::before {
      background-image: url("../img/screen-desktop3.png"); } }

.research {
  display: none; }

@media (min-width: 660px) {
  .research {
    display: block;
    padding: 60px 20px 90px; }
    .research__container {
      max-width: 700px;
      margin: 0 auto;
      background-image: url(../img/research-tablet.png);
      background-repeat: no-repeat;
      background-position: top left 5%; }
    .research__content {
      width: 50%;
      max-width: 320px;
      margin-left: auto;
      padding: 35px 0; }
    .research__title {
      width: 170px;
      margin-bottom: 15px;
      font-size: 30px;
      font-weight: 900;
      line-height: 1.2;
      color: #000; }
    .research__text {
      margin-bottom: 10px; }
    .research__link {
      color: #d22856; } }

@media (min-width: 1200px) {
  .research {
    background-color: #f2f2f2;
    padding: 0 130px 65px; }
    .research__container {
      max-width: 1200px;
      background-image: url(../img/research-desktop.png);
      background-position: top left; }
    .research__content {
      width: 570px;
      max-width: none;
      padding: 90px 0 45px; }
    .research__title {
      width: 100%;
      margin-bottom: 20px; }
    .research__text {
      margin-bottom: 35px; } }

.comments {
  padding: 45px 20px 30px;
  text-align: center; }
  .comments__item {
    display: none; }
  .comments__item--active {
    display: block;
    min-height: 150px; }
  .comments__author-name {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 900;
    line-height: 1.2;
    color: #000; }
  .comments__author-description {
    display: none; }
  .comments__text {
    margin-bottom: 20px; }
  .comments__toggles-arrow {
    display: none; }

@media (min-width: 660px) {
  .comments {
    padding: 0 20px 20px; }
    .comments__wrapper {
      max-width: 700px;
      margin: 0 auto; }
    .comments__item--active {
      display: flex;
      flex-direction: column;
      min-height: 180px; }
    .comments__auther {
      margin-bottom: 35px;
      order: 2; }
    .comments__author-name {
      margin-bottom: 5px;
      font-size: 20px; }
    .comments__author-description {
      display: block; }
    .comments__text {
      margin-bottom: 35px;
      order: 1; } }

@media (min-width: 1200px) {
  .comments {
    position: relative;
    padding: 190px 130px 25px; }
    .comments::before {
      content: '';
      position: absolute;
      top: 70px;
      left: 50%;
      transform: translateX(-50%);
      width: 80px;
      height: 65px;
      background-image: url(../img/bg-comment.svg);
      background-position: center;
      background-repeat: no-repeat; }
    .comments__wrapper {
      position: relative;
      max-width: 1200px;
      margin: 0 auto; }
    .comments__item {
      max-width: 700px;
      min-height: 300px;
      margin: 0 auto; }
    .comments__auther {
      margin-bottom: 0; }
    .comments__author-name {
      font-size: 24px; }
    .comments__toggles.slider__toggles {
      display: none; }
    .comments__toggles-arrow {
      display: block; }
    .comments__toggle-arrow {
      position: absolute;
      top: 10%;
      cursor: pointer;
      outline: none; }
    .comments__toggle-arrow--forward {
      right: 0; }
    .comments__toggle-arrow--backward {
      left: 0; } }

.slider__toggles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60px;
  margin: 0 auto; }

.slider__toggle {
  box-sizing: content-box;
  width: 6px;
  height: 6px;
  padding: 0;
  background-color: rgba(40, 54, 69, 0.3);
  border: none;
  border-radius: 50%;
  cursor: pointer; }

.slider__toggle:hover, .slider__toggle:focus {
  background-color: rgba(40, 54, 69, 0.6); }

.slider__active {
  background-color: rgba(40, 54, 69, 0.1); }

.slider__toggle--active {
  box-shadow: 0 0 0 3px #283645;
  background-color: transparent; }

.slider__toggle-arrow {
  width: 30px;
  height: 30px;
  border: 2px solid rgba(40, 54, 69, 0.3);
  border-bottom: none;
  border-right: none;
  background-color: transparent; }

.slider__toggle-arrow--forward {
  transform: rotate(135deg); }

.slider__toggle-arrow--backward {
  transform: rotate(-45deg); }

.slider__toggle-arrow:hover, .slider__toggle-arrow:focus {
  border-color: rgba(40, 54, 69, 0.6); }

.slider__toggle-arrow:active {
  border-color: rgba(40, 54, 69, 0.1); }

.catalogue {
  padding: 90px 0 50px;
  background-image: url(../img/bg-triangle-white.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  background-color: #f2f2f2;
  overflow: hidden; }
  .catalogue__list {
    width: 280%;
    margin-bottom: 40px;
    transform: translateX(-32%);
    text-transform: uppercase;
    border-collapse: collapse;
    transition: transform 0.8s ease; }
  .catalogue td:first-child {
    display: none; }
  .catalogue__field {
    width: calc(100 / 3);
    padding: 10px 20px 15px;
    color: #fff;
    text-align: center;
    background-color: #283645;
    border-left: 2px solid #e5e5e5;
    border-right: 2px solid #e5e5e5; }
  .catalogue__field--hit {
    position: relative; }
  .catalogue__field--hit::before {
    content: '';
    position: absolute;
    top: -29px;
    left: -42px;
    width: 100px;
    height: 75px;
    border: 30px solid #d22856;
    border-top: 30px solid transparent;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    transform: rotate(-45deg); }
  .catalogue__field--hit::after {
    content: 'хит';
    position: absolute;
    top: 13px;
    left: 8px;
    font-size: 0.875rem;
    transform: rotate(-45deg); }
  .catalogue__title {
    font-size: 1.125rem;
    font-weight: 900; }
  .catalogue__price {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2; }
  .catalogue__value {
    position: relative;
    padding: 20px;
    line-height: 1.2;
    border: 2px solid #e5e5e5;
    border-top: none; }
  .catalogue__value--yes::before, .catalogue__value--no::before, .catalogue__value--no:after {
    content: '';
    position: absolute; }
  .catalogue__value--yes::before {
    top: 18px;
    right: 20px;
    width: 30px;
    height: 15px;
    transform: rotate(-45deg);
    border: 3px solid #3dc644;
    border-right: none;
    border-top: none; }
  .catalogue__value--no::before, .catalogue__value--no::after {
    top: 26px;
    right: 15px;
    width: 35px;
    height: 3px;
    background-color: #f25b26; }
  .catalogue__value--no::before {
    transform: rotate(45deg); }
  .catalogue__value--no::after {
    transform: rotate(-45deg); }

@media (max-width: 659px) {
  .catalogue__list--center {
    transform: translateX(-32%); }
  .catalogue__list--left {
    transform: translateX(1%); }
  .catalogue__list--right {
    transform: translateX(-65%); } }

@media (min-width: 660px) {
  .catalogue {
    padding: 90px 20px 65px; }
    .catalogue__list {
      width: 100%;
      margin-bottom: 0;
      transform: unset; }
    .catalogue td:first-child {
      display: table-cell; }
    .catalogue__field {
      width: 24%;
      padding: 10px 15px; }
    .catalogue__field--hit::before {
      top: -21px;
      left: -35px;
      width: 85px;
      height: 60px; }
    .catalogue__field--hit::after {
      top: 9px;
      left: 4px; }
    .catalogue__field--empty {
      border-top: none;
      border-left: none;
      border-bottom: 2px solid #e5e5e5;
      background-color: transparent; }
    .catalogue__title {
      font-size: 1rem; }
    .catalogue__price {
      font-size: 1.125rem; }
    .catalogue__value {
      padding: 15px;
      background-color: #fff; }
    .catalogue__value--title {
      width: 28%;
      text-transform: none; }
    .catalogue__value-description {
      display: none; }
    .catalogue__value--yes::before {
      top: calc(50% - 12px);
      right: calc(50% - 20px); }
    .catalogue__value--no::before, .catalogue__value--no::after {
      top: calc(50% - 2px);
      right: calc(50% - 24px); }
    .catalogue__toggles {
      display: none; } }

@media (min-width: 1200px) {
  .catalogue {
    padding: 150px 130px 100px; }
    .catalogue__list {
      max-width: 1200px;
      margin: 0 auto; }
    .catalogue__title {
      font-size: 1.125rem; }
    .catalogue__price {
      font-size: 1.5rem; }
    .catalogue__field--hit::before {
      top: -29px;
      left: -42px;
      width: 100px;
      height: 75px; }
    .catalogue__field--hit::after {
      top: 13px;
      left: 8px; } }

.contacts {
  padding-top: 45px;
  text-align: center; }
  .contacts__title {
    margin-bottom: 35px;
    padding: 0 20px;
    font-size: var(--fs-h2);
    line-height: 1.2;
    font-weight: 300; }
    .contacts__title span {
      display: block; }
  .contacts__list {
    margin-bottom: 35px;
    padding: 0 20px; }
  .contacts__item {
    margin-bottom: 20px; }
  .contacts__item:last-child {
    margin-bottom: 0; }
  .contacts__item--address span {
    display: block; }
  .contacts__item-label {
    margin-bottom: 5px;
    font-size: 1.125rem;
    line-height: 1.2;
    font-weight: 900; }
  .contacts__item-value {
    font-size: 1.5rem;
    color: #d22856;
    font-weight: 300;
    line-height: 1.2; }
  .contacts__item-value--mail {
    text-decoration: none;
    transition: color 0.1s ease-in; }
  .contacts__item-value--mail:hover, .contacts__item-value--mail:focus {
    color: #283645;
    text-decoration: underline; }
  .contacts__item-value--mail:active {
    color: rgba(40, 54, 69, 0.3); }
  .contacts__map {
    position: relative;
    width: 100%;
    height: 200px; }
  .contacts__map::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    background-image: url("../img/triangle-footer.svg");
    background-position: top left;
    background-size: 100% 35px;
    background-repeat: no-repeat;
    z-index: 100; }
  .contacts__interactive-map {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10; }
  .contacts__map-image {
    width: auto;
    height: 100%;
    margin: 0 auto; }

@media (min-width: 660px) {
  .contacts__title {
    margin-bottom: 40px; }
  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px; }
  .contacts__item {
    width: 50%;
    margin-bottom: 55px; }
  .contacts__item-label {
    margin-bottom: 10px; }
  .contacts__map {
    height: 375px; }
  .contacts__map::before {
    height: 75px;
    background-size: 100% 75px; } }

@media (min-width: 1200px) {
  .contacts {
    padding-top: 70px; }
    .contacts__wrapper {
      max-width: 1200px;
      margin: 0 auto; }
    .contacts__title {
      margin-bottom: 55px; }
    .contacts__list {
      justify-content: space-between;
      margin-bottom: 15px; }
    .contacts__item {
      width: auto;
      margin-bottom: 0; }
    .contacts__item--phone {
      order: 1; }
    .contacts__item--mail {
      order: 3; }
    .contacts__item--address {
      order: 2; }
    .contacts__item-label {
      margin-bottom: 25px; }
    .contacts__map {
      height: 500px; }
    .contacts__map::before {
      height: 100px;
      background-size: 100% 100px; } }

.page-footer {
  padding: 40px 20px; }
  .page-footer__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; }
  .page-footer--index {
    display: none; }
  .page-footer__logo-link {
    margin-bottom: 40px; }
  .page-footer__logo path {
    transition: fill 0.1s ease-in; }
  .page-footer__logo--desktop {
    display: none; }
  .page-footer__logo-link[href]:hover .page-footer__logo path,
  .page-footer__logo-link[href]:focus .page-footer__logo path {
    fill: #d22856; }
  .page-footer__logo-link[href]:active .page-footer__logo path {
    opacity: 0.3; }
  .page-footer__social {
    margin-bottom: 40px; }

@media (min-width: 660px) {
  .page-footer {
    padding: 35px 20px 40px; }
    .page-footer__wrapper {
      flex-direction: row;
      justify-content: space-between; }
    .page-footer--index {
      display: flex; }
    .page-footer__logo-link {
      margin-bottom: 0;
      padding-bottom: 5px; }
    .page-footer__social {
      margin-bottom: 0; } }

@media (min-width: 1200px) {
  .page-footer {
    padding: 70px 130px 75px; }
    .page-footer__wrapper {
      max-width: 1200px;
      margin: 0 auto; }
    .page-footer__logo-link {
      padding-bottom: 15px; }
    .page-footer__logo--mobile {
      display: none; }
    .page-footer__logo--desktop {
      display: block; }
    .page-footer__social {
      margin-bottom: 0; } }

.page-main__introduction {
  display: flex;
  min-height: 240px;
  padding: 100px 20px 80px;
  color: #fff;
  background-color: #283645;
  background-image: url(../img/bg-gallery-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.page-main__title {
  width: 80%;
  margin: 0 auto;
  font-size: var(--fs-h2);
  line-height: 1.2;
  font-weight: 300;
  text-align: center; }

@media (min-width: 660px) {
  .page-main__introduction {
    min-height: 440px;
    padding: 180px 20px 140px;
    background-image: url(../img/bg-gallery-tablet.jpg); } }

@media (min-width: 1200px) {
  .page-main__introduction {
    min-height: 400px;
    padding: 170px 130px 105px;
    background-image: url(../img/bg-gallery-desktop.jpg); }
  .page-main__description {
    max-width: 1200px;
    margin: 0 auto; } }

.gallery {
  padding-top: 50px; }
  .gallery__text {
    margin-bottom: 50px;
    padding: 0 20px;
    text-align: center;
    line-height: 1.875rem; }
  .gallery__item {
    margin-bottom: 20px; }
  .gallery__item--main {
    width: 100%; }
  .gallery__item:last-child {
    margin-bottom: 0; }

@media (min-width: 660px) {
  .gallery {
    padding-top: 95px; }
    .gallery__text {
      width: 80%;
      margin: 0 auto;
      margin-bottom: 80px; }
    .gallery__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly; }
    .gallery__item {
      display: flex;
      flex-direction: column;
      width: calc(50% - 30px);
      margin-bottom: 50px; }
    .gallery__item:nth-last-child(2), .gallery__item:last-child {
      margin-bottom: 0; }
    .gallery__item--main {
      width: 100%; }
    .gallery__item figure {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%; }
    .gallery__item figcaption {
      height: 100%; }
    .gallery__item--main img {
      height: 400px;
      -o-object-fit: cover;
         object-fit: cover;
      -o-object-position: center;
         object-position: center; } }

@media (min-width: 1200px) {
  .gallery__list {
    justify-content: center; }
  .gallery__item {
    width: calc((100% - 260px - 40px) / 3);
    max-width: calc((1200px - 40px) / 3); }
  .gallery__item:nth-child(3n + 3) {
    margin-left: 20px;
    margin-right: 20px; }
  .gallery__item:nth-child(3n + 4) {
    margin-right: 130px; }
  .gallery__item:nth-child(3n + 2) {
    margin-left: 130px; }
  .gallery__item:nth-last-child(3), .gallery__item:nth-last-child(2), .gallery__item:last-child {
    margin-bottom: 0; }
  .gallery__item--main {
    max-width: none;
    width: 100%; }
  .gallery__item--main img {
    height: 500px; } }

.photo {
  padding: 0 20px; }
  .photo--main {
    position: relative;
    padding: 0; }
  .photo--main::before {
    content: 'Панорама дня';
    position: absolute;
    top: 0;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 36px;
    font-size: 0.750rem;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    background-color: #d22856; }
  .photo--main .photo__comment {
    margin: 0 20px; }
  .photo__image {
    width: 100%; }
  .photo__comment {
    padding: 20px 30px 25px 20px;
    background-color: #f2f2f2; }
  .photo__author {
    margin-bottom: 5px; }
  .photo__author-name {
    font-size: 0.875rem;
    font-weight: 900; }
  .photo__time {
    font-size: 0.750rem;
    text-transform: uppercase;
    font-weight: 300; }
  .photo__text {
    margin-bottom: 10px;
    font-size: 0.875rem; }
  .photo__likes {
    display: flex;
    align-items: center; }
  .photo__likes-button {
    margin-right: 20px;
    padding: 0;
    border: none;
    background-color: transparent; }
  .photo__likes-count {
    font-size: 0.875rem;
    color: #d22856;
    text-decoration: none;
    text-transform: uppercase; }

@media (min-width: 660px) {
  .photo {
    padding: 0; }
    .photo--main::before {
      top: 60px; }
    .photo__container {
      width: 100%; }
    .photo__comment {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 25px; }
    .photo--main .photo__comment {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between; }
    .photo--main .photo__author {
      order: 1; }
    .photo--main .photo__likes {
      order: 2; }
    .photo--main .photo__text {
      order: 3;
      width: 100%; }
    .photo--main .photo__likes-count {
      margin-right: 20px; }
    .photo__likes {
      justify-content: space-between;
      margin-top: auto; }
    .photo__likes-button {
      order: 2;
      margin-right: 0; }
    .photo__likes-count {
      order: 1; } }

@media (min-width: 1200px) {
  .photo--main .photo__comment {
    max-width: 1200px;
    margin: 0 130px; }
  .photo--main::before {
    right: 130px; } }

.user-photo {
  padding-top: 40px; }
  .user-photo__text {
    margin-bottom: 40px;
    padding: 0 20px;
    font-size: 0.875rem;
    text-align: center; }
    .user-photo__text span {
      display: block; }
  .user-photo__form {
    padding: 20px 20px 0;
    background-color: #f2f2f2; }
  .user-photo__image {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    -o-object-fit: contain;
       object-fit: contain; }
  .user-photo__settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 30px;
    border-bottom: 1px solid #dddfe0; }
  .user-photo__toggles-list {
    display: flex;
    justify-content: center;
    margin-bottom: 30px; }
  .user-photo__toggles-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80px;
    margin-right: 15px; }
  .user-photo__toggles-item:last-child {
    margin-right: 0; }
  .user-photo__toggle {
    background-color: transparent;
    border: none; }
  .user-photo__toggle::before, .user-photo__toggle::after {
    display: none; }
  .user-photo__toggle svg {
    opacity: 0.3; }
  .user-photo__toggle:hover svg {
    opacity: 0.5; }
  .user-photo__toggle--active svg {
    opacity: 1; }
  .user-photo__toggle--active svg path {
    fill: #d22856; }
  .user-photo__filter--saturate {
    display: none; }
  .user-photo__filter--contrast {
    display: none; }
  .user-photo__filter-range {
    display: block;
    width: 280px;
    margin: 0 auto;
    -webkit-appearance: none;
    background: transparent;
    outline: none; }
  .user-photo__filter-range::-webkit-slider-thumb {
    -webkit-appearance: none; }
  .user-photo__filter-range::-ms-track {
    width: 100%;
    color: transparent;
    cursor: pointer;
    background: transparent;
    border-color: transparent; }
  .user-photo__filter-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 14px;
    width: 14px;
    margin-top: -6px;
    border: 2px solid #d22856;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer; }
  .user-photo__filter-range::-moz-range-thumb {
    height: 10px;
    width: 10px;
    margin-top: -6px;
    border: 2px solid #d22856;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer; }
  .user-photo__filter-range::-ms-thumb {
    height: 10px;
    width: 10px;
    margin-top: -1px;
    border: 2px solid #d22856;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer; }
  .user-photo__filter-range::-webkit-slider-thumb:active {
    background-color: #d22856; }
  .user-photo__filter-range::-moz-range-thumb:active {
    background-color: #d22856; }
  .user-photo__filter-range::-ms-thumb:active {
    background-color: #d22856; }
  .user-photo__filter-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background-color: #283645; }
  .user-photo__filter-range::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background-color: #283645; }
  .user-photo__filter-range::-ms-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    background-color: #283645; }
  .user-photo__filter-range::-ms-fill-lower {
    width: 100%;
    height: 1px;
    cursor: pointer;
    background-color: #283645; }
  .user-photo__button-container {
    padding: 40px 0; }
  .user-photo__button {
    width: 100%;
    max-width: 360px;
    margin: 0 auto; }
  .user-photo__button-post {
    margin-bottom: 15px; }

@media (min-width: 660px) {
  .user-photo {
    padding-top: 70px; }
    .user-photo__text {
      margin-bottom: 70px;
      font-size: 1.125rem; }
    .user-photo__form {
      display: grid;
      grid-template-areas: "photo filters" "photo buttons";
      padding: 55px 20px; }
    .user-photo__image-container {
      grid-area: photo; }
    .user-photo__settings {
      align-items: flex-start;
      padding: 0;
      border-bottom: none; }
    .user-photo__toggles-list {
      display: none; }
    .user-photo__filters {
      width: 100%; }
    .user-photo__filter {
      position: relative;
      display: block;
      padding: 35px 20px 35px 55px;
      border-bottom: 1px solid #dddfe0; }
    .user-photo__filter:first-child {
      padding-top: 20px; }
    .user-photo__filter::before {
      content: '';
      position: absolute;
      left: 0;
      width: 30px;
      height: 30px;
      background-position: center;
      background-repeat: no-repeat; }
    .user-photo__filter--crop::before {
      top: 5px;
      background-image: url(../img/filter-toggle-small-1.svg); }
    .user-photo__filter--saturate::before {
      top: 20px;
      background-image: url(../img/filter-toggle-small-2.svg); }
    .user-photo__filter--contrast::before {
      top: 20px;
      background-image: url(../img/filter-toggle-small-3.svg); }
    .user-photo__filter-range {
      width: 100%; }
    .user-photo__button-container {
      margin-top: auto;
      padding: 0; } }

@media (min-width: 1200px) {
  .user-photo {
    padding: 60px 130px 0; }
    .user-photo__wrapper {
      max-width: 1200px;
      margin: 0 auto; }
    .user-photo__text {
      margin-bottom: 60px; }
    .user-photo__form {
      padding: 55px 80px; }
    .user-photo__filter {
      padding: 35px 20px 35px 90px; }
    .user-photo__filter::before {
      width: 50px;
      height: 50px; }
    .user-photo__filter--crop::before {
      top: 0;
      background-size: 48px 48px; }
    .user-photo__filter--saturate::before {
      top: 15px;
      background-size: 48px 48px; }
    .user-photo__filter--contrast::before {
      top: 11px;
      background-size: 32px 32px; }
    .user-photo__button-container {
      display: flex;
      justify-content: space-between; }
    .user-photo__button {
      width: 45%;
      max-width: none;
      margin: 0; } }

.filter-settings {
  display: flex;
  justify-content: center; }
  .filter-settings__toggle {
    width: 70px;
    margin-right: 15px;
    background-color: transparent;
    border: none; }
  .filter-settings__toggle:last-child {
    margin-right: 0; }
  .filter-settings__toggle--active svg path {
    fill: #d22856; }

.social__list {
  display: flex; }

.social__item + .social__item {
  margin-left: 20px; }

.social__link {
  position: relative;
  display: block;
  width: 45px;
  height: 45px;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;
  transition: border-color 0.2s ease-in; }

.social__link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%; }

.social__link--twitter::before {
  background-image: url(../img/twitter-logo.svg);
  background-position: top 12px left 11px; }

.social__link--facebook::before {
  background-image: url(../img/facebook-logo.svg);
  background-position: top 9px left 15px; }

.social__link--youtube::before {
  background-image: url(../img/youtube-logo.svg);
  background-position: top 12px left 14px; }

.social__link:hover, .social__link:focus {
  border-color: #283645; }

.social__link:active {
  border-color: rgba(40, 54, 69, 0.1); }

.social__link:active::before {
  opacity: 0.3; }

.copyright {
  display: flex;
  align-items: center; }
  .copyright__text {
    margin-right: 15px;
    padding-bottom: 3px;
    font-weight: 400; }
  .copyright__link {
    display: flex; }
  .copyright__logo path {
    transition: fill 0.1s ease-in; }
  .copyright__link:hover .copyright__logo path,
  .copyright__link:focus .copyright__logo path {
    fill: #283645; }
  .copyright__link:active .copyright__logo path {
    fill: rgba(40, 54, 69, 0.3); }

.contest {
  padding-top: 50px; }
  .contest__description {
    padding: 0 20px;
    text-align: center; }
    .contest__description span {
      display: none; }
  .contest__item {
    padding: 40px 20px; }
  .contest__item:last-child {
    padding-bottom: 0; }
  .contest__item--achievements, .contest__item--platform {
    background-color: #f2f2f2; }
  .contest__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 45px 20px 20px; }
  .contest__submit {
    width: 100%;
    max-width: 340px;
    margin-bottom: 40px; }
  .contest__legend {
    font-size: 0.875rem;
    text-transform: uppercase; }
  .contest__legend-star {
    color: #d22856; }
  .contest__legend-full {
    display: none; }

@media (min-width: 660px) {
  .contest {
    padding-top: 100px; }
    .contest__description {
      margin-bottom: 70px;
      font-size: 1.125rem; }
      .contest__description span {
        display: inline-block; }
    .contest__list {
      display: flex;
      flex-direction: column; }
    .contest__item {
      margin-bottom: 60px;
      padding: 0 20px; }
    .contest__item:last-child {
      margin-bottom: 0; }
    .contest__item--achievements, .contest__item--platform {
      background-color: transparent; }
    .contest__item--fullname {
      order: 1; }
    .contest__item--achievements {
      order: 4; }
    .contest__item--contacts {
      order: 3; }
    .contest__item--platform {
      order: 2; }
    .contest__item--review {
      order: 5; }
    .contest__bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 70px 20px 50px; }
    .contest__submit {
      width: 45%;
      max-width: 300px;
      margin-bottom: 0; } }

@media (min-width: 1200px) {
  .contest {
    padding: 100px 130px 0; }
    .contest__wrapper {
      max-width: 1200px;
      margin: 0 auto; }
    .contest__description {
      margin-bottom: 80px; }
    .contest__list {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0; }
    .contest__item {
      padding: 0; }
    .contest__item--fullname {
      width: 50%;
      padding-right: 35px; }
    .contest__item--achievements {
      width: 100%; }
    .contest__item--contacts {
      width: 100%; }
    .contest__item--platform {
      width: 50%;
      padding-left: 35px; }
    .contest__item--review {
      width: 100%; }
    .contest__bottom {
      padding: 70px 0 0; }
    .contest__submit {
      width: 45%; }
    .contest__legend-full {
      display: inline-block; } }

.fullname {
  border: none; }
  .fullname__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px; }
  .fullname__item:last-child {
    margin-bottom: 0; }
  .fullname__label {
    margin-bottom: 10px;
    padding-left: 22px;
    font-size: 0.875rem;
    color: #d22856;
    text-transform: uppercase; }
  .fullname__field {
    width: 100%; }

@media (min-width: 660px) {
  .fullname__item {
    flex-direction: row;
    align-items: center;
    margin-bottom: 25px; }
  .fullname__label {
    margin-bottom: 0;
    margin-right: 20px;
    padding-left: 0; } }

@media (min-width: 1200px) {
  .fullname {
    height: 100%; }
    .fullname__list {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 100%; }
    .fullname__item {
      margin-bottom: 50px; }
    .fullname__label {
      margin-bottom: 0;
      margin-right: 20px;
      padding-left: 0; } }

.achievements {
  border: none; }
  .achievements__title {
    float: left;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 40px;
    color: #d22856;
    font-size: 0.875rem;
    text-align: center;
    line-height: 1.2;
    text-transform: uppercase; }
  .achievements__columns-wrapper {
    clear: both; }
  .achievements__item {
    margin-bottom: 45px; }
  .achievements__column:last-child .achievements__item:last-child {
    margin-bottom: 0; }
  .achievements__label {
    position: relative;
    padding: 5px 0 5px 70px;
    font-size: 1.125rem;
    line-height: 1.2; }

@media (min-width: 660px) {
  .achievements {
    padding: 45px 60px;
    border: 2px solid #e5e5e5; }
    .achievements__title {
      float: none;
      position: static;
      left: auto;
      transform: none;
      margin-bottom: 0;
      padding: 0 30px; }
    .achievements__columns-wrapper {
      clear: none; }
    .achievements__column:last-child .achievements__item:last-child {
      margin-bottom: 0; }
    .achievements__label {
      padding: 5px 0 5px 60px; } }

@media (min-width: 1200px) {
  .achievements {
    padding: 45px 60px; }
    .achievements__columns-wrapper {
      display: flex;
      justify-content: space-between; }
    .achievements__column {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: calc(100% / 3); }
    .achievements__column:first-child {
      align-items: flex-start; }
    .achievements__column:last-child {
      align-items: flex-end; }
    .achievements__column-container {
      display: flex;
      flex-direction: column;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content; }
    .achievements__item:last-child {
      margin-bottom: 0; } }

.user-contacts {
  border: none; }
  .user-contacts__title {
    display: none;
    color: #d22856;
    font-size: 0.875rem;
    text-align: center;
    line-height: 1.2;
    text-transform: uppercase; }
  .user-contacts__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px; }
  .user-contacts__item:last-child {
    margin-bottom: 0; }
  .user-contacts__label {
    margin-bottom: 10px;
    padding-left: 22px;
    font-size: 0.875rem;
    color: #d22856;
    text-transform: uppercase; }
  .user-contacts__field {
    width: 100%; }

@media (min-width: 660px) {
  .user-contacts {
    padding: 40px 60px 30px;
    border: 2px solid #e5e5e5; }
    .user-contacts__title {
      display: block;
      padding: 0 30px; }
    .user-contacts__item {
      position: relative;
      flex-direction: column-reverse;
      margin-bottom: 30px; }
    .user-contacts__item::before, .user-contacts__item::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 60px;
      height: 60px; }
    .user-contacts__item::before {
      background-color: #e5e5e5; }
    .user-contacts__item::after {
      background-repeat: no-repeat;
      background-position: center; }
    .user-contacts__item--tel::after {
      background-image: url(../img/icon-phone.svg); }
    .user-contacts__item--email::after {
      background-image: url(../img/icon-email.svg); }
    .user-contacts__label {
      margin-bottom: 0;
      margin-top: 15px; } }

@media (min-width: 1200px) {
  .user-contacts {
    padding: 30px 60px 20px; }
    .user-contacts__list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
    .user-contacts__item {
      width: calc(50% - 35px);
      margin-bottom: 0; }
    .user-contacts__item:nth-child(2n + 1) {
      margin-right: 35px; }
    .user-contacts__item:nth-child(2n) {
      margin-left: 35px; } }

.platform {
  background-color: #f2f2f2;
  border: none; }
  .platform__title {
    float: left;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 35px;
    color: #d22856;
    font-size: 0.875rem;
    text-align: center;
    line-height: 1.2;
    text-transform: uppercase; }
  .platform__list {
    clear: both; }
  .platform__item {
    margin-bottom: 45px; }
  .platform__item:last-child {
    margin-bottom: 0; }
  .platform__label {
    position: relative;
    padding: 5px 0 5px 70px;
    font-size: 1.125rem;
    line-height: 1.2; }

@media (min-width: 660px) {
  .platform {
    padding: 50px 60px 55px;
    border: 2px solid #e5e5e5;
    background-color: transparent; }
    .platform__title {
      float: none;
      position: static;
      left: auto;
      transform: none;
      margin-bottom: 0;
      padding: 0 25px; }
    .platform__list {
      clear: none; }
    .platform__item {
      margin-bottom: 40px; }
    .platform__label {
      padding: 5px 0 5px 60px; } }

@media (min-width: 1200px) {
  .platform {
    padding: 50px 75px 55px; } }

.review {
  border: none; }
  .review__title {
    float: left;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 15px;
    color: #d22856;
    font-size: 0.875rem;
    text-align: center;
    line-height: 1.2;
    text-transform: uppercase; }
  .review__field {
    width: 100%;
    height: 200px;
    padding: 20px;
    color: #283645;
    font-size: 1.125rem;
    border: 2px solid #e5e5e5; }

@media (min-width: 660px) {
  .review {
    padding: 40px 60px 55px;
    border: 2px solid #e5e5e5; }
    .review__title {
      float: none;
      position: static;
      left: auto;
      transform: none;
      margin-bottom: 0;
      padding: 0 35px; } }
